/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

.position-higher {
  position: relative;
  z-index: 1;
  background-color: white;
}

.white-background {
  background-color: white;
}

a.au-c-button:visited {
  background-color: $au-blue-600;
}

ol.au-c-list--numbered {
  list-style: decimal;
  margin-left: $au-unit;

  li {
    padding-left: $au-unit-small;
    margin-bottom: $au-unit;
  }
}



.au-u-border-bottom {
  border-bottom: .1rem solid $au-gray-300;
}

.au-u-border-top {
  border-top: .1rem solid $au-gray-300;
}

.au-u-border-right {
  border-right: .1rem solid $au-gray-300;
}

i {
  font-style: italic;
}


.au-o-box--gray-200 {
  background-color: $au-gray-200;
}

.au-o-box--border {
  border: .1rem solid $au-gray-300;
  box-shadow: 0 2px 2px $au-gray-100;
}



.au-c-form {
  margin-bottom: $au-unit;
}

.au-c-form__row {
  margin-bottom: $au-unit - $au-unit-tiny;
}

.au-c-input--pre {
  background-color: $au-gray-200;
}

.au-c-input--pre {
  background-color: $au-gray-200;
  pointer-events: none;
  float: left;
}

.au-c-input--pre + .au-c-input {
  margin-left: -.1rem;
}

.au-c-image--small {
  max-height: $au-unit-huge+$au-unit-huge;
}

.au-c-doormat {
  border-top: .1rem solid $au-gray-200;
  background-color: $au-gray-100;
}


/* Code Styles */
pre {
  background-color: $au-gray-100;
  overflow: auto;
}

code {
  font-family: Courier, 'New Courier', monospace;
}


// Add some responsive typography
.au-c-heading--1 {
  @include au-font-size($au-h2);

  @include mq(medium) {
    @include au-font-size($au-h1);
    max-width: 40ch;
  }
}

.au-c-heading--2 {
  @include au-font-size($au-h3);

  @include mq(medium) {
    @include au-font-size($au-h2);
    max-width: 50ch;
  }
}

.au-c-heading--3 {
  @include au-font-size($au-h4,1.3);

  @include mq(medium) {
    @include au-font-size($au-h3);
  }
}

.au-c-heading--4 {
  @include au-font-size($au-h5);

  @include mq(medium) {
    @include au-font-size($au-h4,1.3);
  }
}

.au-o-region-large {
  @include mq(large) {
    padding-top: $au-unit-large + $au-unit;
    padding-bottom: $au-unit-large + $au-unit;
  }
}

.au-o-layout--medium {
  max-width: 1400px;
}

.au-c-heading .au-c-badge {
  margin-right: $au-unit-tiny;
  height: 3rem;
  width: 3.1rem;
  position: relative;
  top: .3ex;
}

.au-c-divider {
  border: 0;
  border-bottom: .1rem solid $au-gray-200;
  margin-top: $au-unit;
  margin-bottom: $au-unit;

  @include mq(medium) {
    margin-top: $au-unit-large;
    margin-bottom: $au-unit-large;
  }
}

.au-c-code-block {
  position: relative;

  &.is-closed {
    height: $au-unit-large + $au-unit;
    background-color: $au-gray-100;
  }
}

.au-c-code-block__toggle {
  position: absolute;
  bottom: 0;
  right: 0;

  .au-c-code-block.is-closed & {
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
  }
}

.au-c-copy-row--center {
  text-align: center;
  width: 100%;
}

.au-c-copied-message {
  margin-left: $au-unit-small;
  font-style: italic;
  color: $au-gray-600;

  .au-c-copy-row--center & {
    display: inline-block;
    margin-left: 0;
    margin-top: $au-unit-tiny;
  }
}

.au-c-main-header__actions-group {
  display: flex;
  margin-right: $au-unit-tiny;

  > * + * {
    margin-left: $au-unit-small;
    padding-left: $au-unit-small;
    border-left: .1rem dotted $au-gray-300;
    height: 3rem;
  }
}

.au-c-edit-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.au-c-para-tiny {
  color: $au-gray-600;
}
