/* ==================================
   #CARD
   ================================== */

.au-c-card {
  border: .1rem solid $au-gray-200;
  background-color: $au-white;
  height: 100%;
}

.au-c-card--secondary {
  border: 0;
  background-color: $au-gray-200;
}
