/* ==================================
   #CONTENT
   ================================== */

.au-c-intro {
  @include au-font-size($au-h4);
  font-weight: $au-light;
  color: $au-gray-800;
  max-width: 60ch;

  & + & {
    margin-top: $au-unit-small;
  }

  @include mq(medium) {
    @include au-font-size($au-h3);
    max-width: 35ch;

    & + & {
      margin-top: $au-unit;
    }
  }

}

.au-c-para {
  @include au-font-size($au-h5);
  font-weight: $au-light;
  color: $au-gray-800;
  max-width: 70ch;

  & + & {
    margin-top: $au-unit-small;
  }

  @include mq(medium) {
    @include au-font-size($au-h4);

    & + & {
      margin-top: $au-unit;
    }
  }
}

.au-c-para-small {
  @include au-font-size($au-h6);
  font-weight: $au-light;
  color: $au-gray-800;
  max-width: 70ch;

  & + & {
    margin-top: $au-unit-small;
  }
}

.au-c-list {
  @include au-font-size($au-h5);
  font-weight: $au-light;
  color: $au-gray-800;

  @include mq(medium) {
    @include au-font-size($au-h4);
  }
}

.au-c-list--divider {
  @include au-font-size($au-h6);

  @include mq(medium) {
    @include au-font-size($au-h6);
  }
}

.au-c-list--divider .au-c-list__item + .au-c-list__item {
  margin-top: $au-unit-small;
  padding-top: $au-unit-small;
  border-top: .1rem dotted $au-gray-200;
}
