/* ==================================
   #HERO
   ================================== */

.au-c-hero {
  border-bottom: .1rem solid $au-gray-200;
}

.au-c-hero__image {
  position: relative;
}

.au-c-hero__image svg {
  position: absolute;
}

  .au-c-hero__image:first-child svg {
    left: -$au-unit-huge;
  }
  .au-c-hero__image:last-child svg {
    right: 0;
  }

.au-c-hero__usp {
  z-index: 1;
}
