<CrossAnimateTags>
  <div class="au-o-layout au-o-layout--large au-o-box">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-1-1 au-u-2-3@medium au-u-1-2@large">
        <LinkTo @route="index" class="au-c-link"><AuIcon @icon="arrow-left" @size="large" @alignment="left" /> Terug naar overzicht</LinkTo>
        <AuHeading @level="1" @skin="6" class="au-u-margin-bottom">Relance voor ondernemers</AuHeading>
        <AuHeading @level="2" @skin="1" class="au-u-margin-bottom">Hoe informatie over mijn onderneming <strong>online correct en uniform</strong> verspreiden?</AuHeading>
      </div>
    </div>
  </div>

  <div class="au-o-layout au-o-layout--large au-o-box">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-1 au-u-2-6@medium">
        <div class="au-u-padding-right-large">
          <div class="au-o-grid">
            <div class="au-o-grid__item au-u-1-6">
              <AuBadge @icon="arrow-right" @skin="info" />
            </div>
            <div class="au-o-grid__item au-u-5-6">
              <AuHeading @level="3" @skin="4" class="au-u-margin-bottom au-u-margin-bottom au-u-font au-u-light">
                <strong>Stap 1</strong>
                <br>
                Vul het formulier in met de gegevens over uw onderneming. Nadat u het heeft ingevuld, wordt er een stukje machineleesbare code gegenereerd.
              </AuHeading>
            </div>

            <div class="au-o-grid__item au-u-1-6">
              <AuBadge @icon="arrow-right" @skin="info" />
            </div>
            <div class="au-o-grid__item au-u-5-6">
              <AuHeading @level="3" @skin="4" class="au-u-margin-bottom au-u-margin-bottom au-u-font au-u-light">
                <strong>Stap 2</strong>
                <br>
                Plak de gegenereerde code in jouw site, en publiceer de site.<br><br>Op deze manier kunnen zoekmachines nu ook de juiste informatie terugvinden.
              </AuHeading>
            </div>

            <div class="au-o-grid__item au-u-1-6">
              <AuBadge @icon="arrow-right" @skin="info" />
            </div>
            <div class="au-o-grid__item au-u-5-6">

              <AuHeading @level="3" @skin="4" class="au-u-margin-bottom au-u-margin-bottom au-u-font au-u-light">
                <strong>Stap 3</strong>
                <br>
                Test of zoekmachines de juiste informatie terugvinden na publicatie van uw website. Klaar!
              </AuHeading>
            </div>
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-4-6@medium">
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-6 au-u-text-right">
          </div>
          <div class="au-o-grid__item au-u-5-6">
            <AuHeading @level="3" @skin="2">De stappen in detail</AuHeading>
          </div>
          <div class="au-o-grid__item au-u-1-6 au-u-text-right">
            <AuBadge @icon="arrow-right" @skin="info" />
          </div>
          <div class="au-o-grid__item au-u-3-6">
            <AuHeading @level="4" @skin="5" class="au-u-margin-bottom au-u-margin-bottom au-u-font au-u-light">
              <strong>Stap 1</strong>
              <br>
              Vul het formulier in met de gegevens over uw onderneming. Nadat u het heeft ingevuld, wordt er een stukje machineleesbare code gegenereerd.
            </AuHeading>
            <p class="au-c-heading au-c-heading--6 au-u-margin-bottom au-u-font au-u-light">
              We vragen informatie zoals beschrijving, adres en de openingsuren van uw onderneming. Deze genereert een stukje code dat op jouw website recht moet komen.
            </p>
          </div>
          <div class="au-o-grid__item au-u-2-6">
            <img src="/assets/images/relance-form.svg" class="au-u-margin-bottom-large">
          </div>

          <div class="au-o-grid__item au-u-1-6 au-u-text-right">
            <AuBadge @icon="arrow-right" @skin="info" />
          </div>
          <div class="au-o-grid__item au-u-3-6">
            <AuHeading @level="4" @skin="5" class="au-u-margin-bottom au-u-margin-bottom au-u-font au-u-light">
              <strong>Stap 2</strong>
              <br>
              Plak de gegenereerde code in jouw site, en publiceer de site.<br><br>Op deze manier kunnen zoekmachines nu ook de juiste informatie terugvinden.
            </AuHeading>
            <p class="au-c-heading au-c-heading--6 au-u-font au-u-light au-u-margin-bottom">
              Om ervoor te zorgen dat zoekmachines en mensen de juiste informatie terugvinden, moet de informatie op een duidelijke machine-leesbare manier te vinden zijn.
            </p>
            <p class="au-c-heading au-c-heading--6 au-u-margin-bottom au-u-font au-u-light">
              We hebben hier 3 opties:
              <ol class="au-c-list--numbered au-u-margin-top-small">
                <li>
                  <AuPill @skin="success">Beste resultaat</AuPill><br><br><strong>Plak de gegenereerde code in de broncode van de uw eigen website.</strong><br><br>Zoekmachines en burgers vertrouwen uw eigen website het meest. Dit zal het beste resultaat opleveren.<br><br>Neem indien nodig contact op met uw websitebeheerder om dit in orde te brengen.
                </li>
                <li>
                  <AuPill>U kan niet aan de broncode</AuPill><br><br>Kan u niet aan de broncode, maar enkel inhoud aanpassen? Geen probleem.<br><br>U krijgt een link van ons waarnaar u kan refereren op uw eigen website. Zoekmachines zullen dit iets minder snel oppikken dan op uw eigen website, maar dit is ook absoluut correct.
                </li>
                <li>
                  <AuPill>Ondernemers zonder website</AuPill><br><br>Breng uw lokaal bestuur op de hoogte van dit initiatief, en stuur de link <a href="wijzijnopen.vlaanderen.be" target="_blank" rel="noopener">wijzijnopen.vlaanderen.be</a> samen met uw gegenereerde code door om op hun website te plakken.
                </li>
              </ol>
            </p>
          </div>
          <div class="au-o-grid__item au-u-2-6">
            <img src="/assets/images/relance-code.svg" class="au-u-margin-bottom-large">
          </div>

          <div class="au-o-grid__item au-u-1-6 au-u-text-right">
            <AuBadge @icon="arrow-right" @skin="info" />
          </div>
          <div class="au-o-grid__item au-u-3-6">
            <AuHeading @level="4" @skin="5" class="au-u-margin-bottom au-u-margin-bottom au-u-font au-u-light">
              <strong>Stap 3</strong>
              <br>
              Test of zoekmachines de juiste informatie terugvinden na publicatie van uw website. Klaar!
            </AuHeading>
            <p class="au-c-heading au-c-heading--6 au-u-margin-bottom au-u-font au-u-light">
              We helpen u met ontdekken of dat zoekmachines nu de juiste informatie <i>kunnen</i> oppikken.
            </p>
            <AuAlert @alertIcon="info-circle" @alertTitle="Het duurt enkele dagen voor zoekmachines uw website scannen en de gewenste informatie opslaan, maar dan bent u er in elk geval hélemaal klaar voor."  @alertskin={{"info"}} @alertsize={{"small"}} />
          </div>
          <div class="au-o-grid__item au-u-2-6">
            <img src="/assets/images/relance-test.svg">
          </div>


          <div class="au-o-grid__item au-u-1-6">
          </div>
          <div class="au-o-grid__item au-u-5-6">
            <p class="au-c-heading au-c-headi8g--3 au-u-margin-bottom au-u-font au-u-light">
              <LinkTo @route="entrepreneurs.new" class="au-c-button au-c-button--large"><AuIcon @icon="arrow-right" @size="large" @alignment="left" /> Aan de slag met relance!</LinkTo>
            </p>
            <p>Benieuwd hoe goed jouw website het nu doet? <LinkTo @route="entrepreneurs.validate">Bekijk welke informatie zoekmachines op jouw website vinden.</LinkTo></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</CrossAnimateTags>

{{outlet}}
