<CrossAnimateTags>
  <div class="au-o-layout au-o-layout--large au-o-box">
    <LinkTo @route="index" class="au-c-link">Terug naar overzicht</LinkTo>
    <AuHeading @skin="1" class="au-u-margin-bottom">
      Voor ondernemers
      <br>
      die klaar zijn voor hun relance!
      <br>
      Hoe vertel ik dat aan de wereld?
    </AuHeading>
  </div>

  <div class="au-o-layout au-o-layout--large au-o-box">
    <p class="au-c-heading--3 au-u-light au-u-font">
      Een stukje uitleg, de stappen
    </p>
    <LinkTo @route="entrepreneurs.new" class="au-c-button au-c-button--large">Publiceer jouw relance</LinkTo>
  </div>
</CrossAnimateTags>

{{outlet}}
