<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle="Relance Lokale Ondernemingen">
</AuMainHeader>

<div class="au-o-region-large">
  {{outlet}}
</div>

<AuMainFooter>
  <AuHeading @level="3" @skin="4">
    Relance.lblod.info is een officiële website van de Vlaamse overheid
  </AuHeading>
  <AuContent @skin="small">
    <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
  </AuContent>
</AuMainFooter>
