<div class="au-o-layout au-o-layout--large au-o-box">
  <AuHeading @skin="1" class="au-u-margin-bottom">
    Open for business?
    <br>
    Iedereen mag het weten!  
  </AuHeading>
  <p class="au-c-heading--3 au-u-light au-u-font">
    Lokale ondernemers brengen de stad weer tot leven
  </p>
</div>

{{outlet}}
