<div class="au-o-layout au-o-layout--large au-o-box">
  <AuHeading @skin="1" class="au-u-margin-bottom">
    Open for business?
    <br>
    Iedereen mag het weten!  
  </AuHeading>
  <p class="au-c-heading--3 au-u-light au-u-font">
    Lokale ondernemers brengen de stad weer tot leven
  </p>
</div>

<div class="au-o-layout au-o-layout--large au-o-box">
  <div class="au-o-grid au-o-grid--large">
    <div class="au-o-grid__item au-u-2-6">
      <AuHeading level="2" @skin="3">
        Ondernemers
      </AuHeading>
      <p class="au-c-heading--4 au-u-light au-u-margin-top-tiny au-u-margin-bottom">Zorg dat iedereen jouw business online weer kan vinden &mdash; wat, waar en wanneer.</p>
      <a href="/ondernemers" class="au-c-button au-c-button--block au-c-button--large">Lanceer je business</a>
    </div>
    <div class="au-o-grid__item au-u-2-6">
      <AuHeading level="2" @skin="3">
        Lokale besturen
      </AuHeading>
      <p class="au-c-heading--4 au-u-light au-u-margin-top-tiny au-u-margin-bottom">Ondersteun je lokale besturen en help jouw gemeente weer opleven na COVID-19.</p>
      <a href="/lokale-besturen" class="au-c-button au-c-button--block au-c-button--large">Steun lokale handelaars</a>
    </div>
  </div>
</div>

{{outlet}}
